.Character {
    background: tan;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5%;
    padding: 2%;
}

.list-container {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

li {
    color: whitesmoke;
    background: tomato;
    list-style-type: upper-roman;
    margin-bottom: 10px;
    border: 1px solid orangered;
    border-radius: 5px;

}

span {
    font-weight: bold;
}